<div ng-controller="EnseignantInfoCtrl">


    <table class="table table-striped">
        <thead>
        <th>Num Enseignant</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Sexe</th>
        <th>Type</th>
        <th>Adresse</th>
        <th>Mobile</th>
        <th>Telephone</th>
        <th>Email_UBO</th>
        <th>Email_Perso</th>


        <th></th>
        </thead>
        <tbody>
        <tr>
            <td>{{enseignantInfo.noEnseignant}}</td>
            <td>{{enseignantInfo.nom}}</td>
            <td>{{enseignantInfo.prenom}}</td>
            <td>{{enseignantInfo.sexe}}</td>
            <td>{{enseignantInfo.type}}</td>
            <td>{{enseignantInfo.adresse}}</td>
            <td>{{enseignantInfo.mobile}}</td>
            <td>{{enseignantInfo.telephone}}</td>
            <td>{{enseignantInfo.emailUbo}}</td>
            <td>{{enseignantInfo.emailPerso}}</td>

        </tr>
        </tbody>
    </table>


</div>