<div ng-controller="FormationInfoCtrl">


    <table class="table table-striped">
        <thead>
        <th>Code Formation</th>
        <th>Debut Accreditation</th>
        <th>Diplome</th>
        <th>Double Diplome</th>
        <th>Fin Accreditation</th>
        <th>Nombre d'années</th>
        <th>Nom Fomation</th>


        <th></th>
        </thead>
        <tbody>
        <tr>
            <td>{{formationInfo.codeFormation}}</td>
            <td>{{formationInfo.debutAccreditation}}</td>
            <td>{{formationInfo.diplome}}</td>
            <td>{{formationInfo.doubleDiplome}}</td>
            <td>{{formationInfo.finAccreditation}}</td>
            <td>{{formationInfo.n0Annee}}</td>
            <td>{{formationInfo.nomFormation}}</td>
        </tr>
        </tbody>
    </table>


    </div>